@use "styles/_utils/screen.module.scss";

.mainContainer {
  display: flex;
  position: relative;
  top: -72px;
  z-index: 2;
  @include screen.desktop {
    align-items: center;
    justify-content: center;
  }

  @include screen.mobileAndTablet {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10.1rem;
  }
}

.subContainer {
  display: flex;
  flex-direction: column;

  color: #242b37;
  @include screen.mobile {
    align-items: center;
    width: 32.7rem;
    height: 21.4rem;
  }
  @include screen.mobileAndTablet {
    align-items: center;
  }
  @include screen.desktop {
    margin-left: 125px;
    align-items: left;
    width: 445px;
    height: 275px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;

  @include screen.mobileAndTablet {
    align-items: center;
    text-align: center;
  }

  @include screen.tablet {
    width: 573px;
  }
  @include screen.desktop {
  }
}

.titleText {
  font-weight: 700;
  margin: 0px 0px;

  @include screen.tabletAndDesktop {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  @include screen.tablet {
    width: 35rem;
  }

  @include screen.mobile {
    width: 24rem;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
    margin-top: 3.6rem;
  }
}

.paraText {
  font-weight: 400;
  color: #242b37;
  @include screen.tabletAndDesktop {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.3rem;
  }
  @include screen.tablet {
    width: 457px;
  }
  @include screen.mobile {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.image {
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}

.line {
  width: 71px;
  @include screen.mobile {
    margin: 0;
  }
  @include screen.tablet {
    margin-top: 56px;
    margin-bottom: 37px;
  }
  @include screen.desktop {
    margin-bottom: 55px;
  }
}

.mainImageDesk {
  @include screen.desktop {
    height: 72rem;
    width: 54rem;
    margin-left: auto;
  }
  @include screen.mobileAndTablet {
    display: none;
  }
}

.mainImageTab {
  @include screen.tablet {
    height: 36rem;
    width: 57.3rem;
  }
  @include screen.mobile {
    display: none;
  }
  @include screen.desktop {
    display: none;
  }
}

.mainImageMob {
  @include screen.mobile {
    height: 40rem;
    width: 32.7rem;
    margin-bottom: 4.8rem;
  }
  @include screen.tabletAndDesktop {
    display: none;
  }
}

.design {
  position: absolute;
  z-index: -1;
  @include screen.mobile {
    display: none;
  }

  @include screen.tablet {
    right: 50%;
    top: 196px;
  }
  @include screen.desktop {
    top: 295px;
    left: 0px;
  }
}
