@use "styles/_utils/screen.module";

.mainContainer {
  display: grid;
  overflow: hidden;
  width: 100%;
  background-color: black;
  @include screen.desktop {
    height: 820px;
  }
  @include screen.tablet {
    height: 992px;
  }
  @include screen.mobile {
    height: 745px;
  }
}

.mainContainer > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.pic {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.block {
  z-index: 2;
  background-color: black;
  @include screen.desktop {
    width: 38%;
    height: 100%;
  }
  @include screen.tablet {
    width: 100%;
    height: 61.8rem;
    margin-top: 37.4rem;
  }

  @include screen.mobile {
    width: 100%;
    height: 53.5rem;
    margin-top: 22.9rem;
  }
}

.desktopPic {
  display: none;

  @include screen.desktop {
    display: block;
    width: 100%;
    height: 820px;
    margin-left: auto;
    overflow: hidden;
  }
}

.mobileAndTabletPic {
  display: none;
  @include screen.mobileAndTablet {
    display: block;
    width: 100%;
  }
}

.textContainer {
  color: white;
  z-index: 3;

  @include screen.desktop {
    max-width: 50.7rem;
    height: 55.7rem;
    margin-left: 16.5rem;
    margin-top: 6.5rem;
  }

  @include screen.mobileAndTablet {
    text-align: center;
    display: grid;
    justify-items: center;
  }

  @include screen.tablet {
    max-width: 68.9rem;
    height: 40.2rem;
    margin: 37.4rem auto auto auto;
  }
  @include screen.mobile {
    max-width: 32.7rem;
    height: 36.4rem;
    margin: 24.1rem auto auto auto;
    text-align: center;
    display: grid;
    justify-items: center;
  }
}

.marginTitle1 {
  margin-bottom: 0px;
  @include screen.desktop {
    margin-top: 15.3rem;
  }

  @include screen.mobileAndTablet {
    text-align: center;
  }

  @include screen.tablet {
    margin-top: 3.8rem;
    max-width: 30rem;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.6px;
  }

  @include screen.mobile {
    margin-top: 3.6rem;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
    max-width: 20rem;
  }
}
.marginTitle2 {
  @include screen.desktop {
    margin-top: 1rem;
    margin-bottom: 4rem;
    max-width: 44.5rem;
  }
  @include screen.tablet {
    margin-top: 2rem;
    margin-bottom: 5.2rem;
    max-width: 57.3rem;
  }

  @include screen.mobile {
    margin-top: 2.1rem;
    margin-bottom: 5.3rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
  }
}

.lines {
  z-index: 20;
  top: 1917px;
  left: 568px;
  position: absolute;
}
