@use "styles/_utils/screen.module.scss";

.mainContainer {
  display: flex;
  position: relative;

  z-index: 3;
  margin: auto;

  @include screen.mobileAndTablet {
    top: -72px;
  }

  @include screen.desktop {
    top: 8px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }

  @include screen.tablet {
    width: 57.3rem;
  }
  @include screen.mobile {
    width: 32.7rem;
  }

  @include screen.mobileAndTablet {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10.1rem;
  }
}

.subContainer {
  display: flex;
  display: row;
  width: fit-content;
  margin: auto;
}

.textAndDivideContainer {
  display: flex;
  flex-direction: column;

  color: #242b37;
  @include screen.mobile {
    align-items: center;
    width: 32.7rem;
    height: 21.4rem;
  }
  @include screen.mobileAndTablet {
    align-items: center;
  }
  @include screen.desktop {
    margin-left: 125px;
    margin-top: 200px;
    align-items: left;
    width: 445px;
    height: 275px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;

  @include screen.mobileAndTablet {
    align-items: center;
    text-align: center;
  }

  @include screen.tablet {
    width: 573px;
  }
  @include screen.desktop {
  }
}

.titleText {
  font-weight: 700;
  margin: 0px 0px;

  @include screen.tabletAndDesktop {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  @include screen.tablet {
    width: 35rem;
  }

  @include screen.mobile {
    width: 24rem;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
    margin-top: 3.6rem;
  }
}

.paraText {
  font-weight: 400;
  color: #242b37;
  @include screen.tabletAndDesktop {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.3rem;
  }
  @include screen.tablet {
    width: 457px;
  }
  @include screen.mobile {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.line {
  width: 71px;
  @include screen.mobile {
    margin: 0;
  }
  @include screen.tablet {
    margin-top: 56px;
    margin-bottom: 37px;
  }
  @include screen.desktop {
    margin-bottom: 55px;
  }
}

.imgContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  z-index: 3;
}

.image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.lines {
  @include screen.mobile {
    display: none;
  }
  @include screen.tablet {
    position: absolute;
    bottom: 56px;
    right: -56px;
    z-index: 2;
  }
  @include screen.desktop {
    position: absolute;
    top: 282px;
    right: -114px;
  }
}

.mainImageDesk {
  @include screen.desktop {
    margin-left: 125px;
  }
  @include screen.mobileAndTablet {
    display: none;
  }
}

.mainImageTab {
  @include screen.mobile {
    display: none;
  }
  @include screen.desktop {
    display: none;
  }
}

.mainImageMob {
  @include screen.mobile {
    margin-bottom: 4.8rem;
  }
  @include screen.tabletAndDesktop {
    display: none;
  }
}

.design {
  @include screen.mobile {
    display: none;
  }
  @include screen.tablet {
    position: absolute;
    top: 2168px;
    right: -384px;
  }
  @include screen.desktop {
    position: absolute;
    top: 1871px;
    right: 0px;
  }
}
