@use "styles/_utils/screen.module";

.mainContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  @include screen.mobileAndTablet {
    flex-direction: column;
    margin-top: 8px;
  }
  @include screen.desktop {
    justify-content: center;
  }
}

.deskImage {
  display: none;
  position: relative;
  @include screen.desktop {
    display: inline;
    width: 540px;
    height: 600px;
  }
}
.tabImage {
  display: none;
  position: relative;
  @include screen.tablet {
    display: inline;
    width: 573px;
    height: 360px;
  }
}
.mobImage {
  display: none;
  position: relative;
  @include screen.mobile {
    display: inline;
    width: 326px;
    height: 400px;
  }
}

.textContainer {
  @include screen.desktop {
    margin-left: 125px;
    display: grid;
    grid-template-areas: "text" "button" "eventChangerContainer";
    height: 468px;
  }
}

.text {
  color: #242b37;
  grid-area: text;

  @include screen.mobile {
    margin: 0px auto 27px auto;
  }
  @include screen.mobileAndTablet {
    text-align: center;
  }

  @include screen.tablet {
    margin: 47px auto 0 auto;
  }

  & > * {
    margin: 0px;
  }
  @include screen.mobile {
    width: 327px;
    height: 157px;
  }
  @include screen.tablet {
    width: 457px;
  }

  @include screen.desktop {
    width: 445px;
    height: 157px;
  }
}
.title {
  font-weight: 700;

  @include screen.mobile {
    font-size: 32px;
    line-height: -0.4px;
    letter-spacing: -0.4px;
  }
  @include screen.tabletAndDesktop {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }
}
.para {
  font-weight: 400;
  @include screen.mobile {
    font-size: 16px;
    line-height: 26px;
    margin: 13px auto 27px auto;
  }
  @include screen.tabletAndDesktop {
    font-size: 20px;
    line-height: 30px;
    margin-top: 19px;
    margin-bottom: 60px;
  }
}

.eventChangerContainer {
  display: flex;
  color: #4c4c4c;
  grid-area: eventChangerContainer;

  @include screen.mobile {
    width: 180px;
    height: 116px;
    text-align: center;
    margin: 49px auto 27px auto;
    flex-direction: column;
  }
  @include screen.tablet {
    gap: 41px;
    margin-top: 57px;
    text-align: center;
  }
  @include screen.desktop {
    flex-direction: column;
    gap: 12px;
    text-align: start;
    justify-content: end;
  }

  & > * {
    margin: 0px 0px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    cursor: pointer;
    letter-spacing: 2.5px;
    position: relative;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }

    &:after {
      @include screen.mobileAndTablet {
        content: "";
        position: absolute;
        left: 5px;
        bottom: 0;
        height: 1px;
        width: 93%; /* or 100px */
        border-bottom: 2px solid var(--beaver);
        opacity: 0;
        transform: scaleX(0);
        transition: transform 450ms ease-in-out;
      }
    }
    &:hover:after {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  & > *:not(:first-child) {
    @include screen.mobile {
      margin-top: 16px;
    }
  }
}

@mixin lineBefore {
  // position: relative;
  opacity: 1;
  &:before {
    @include screen.desktop {
      content: "";
      position: absolute;
      width: 95px;
      height: 1px;
      left: -127px;
      bottom: 14px;
      background-color: var(--beaver);
      opacity: 0.5;
    }
  }
}

.currentEvent1 {
  & > :nth-child(1) {
    @include lineBefore;
  }
}
.currentEvent2 {
  & > :nth-child(2) {
    @include lineBefore;
  }
}
.currentEvent3 {
  & > :nth-child(3) {
    @include lineBefore;
  }
}

.button {
  grid-area: button;
  width: fit-content;

  outline: 2px solid black;
  outline-offset: -2px;
  @include screen.mobileAndTablet {
    margin: auto;
  }

  @include screen.desktop {
    margin-bottom: auto;
    margin-top: 21px;
  }
}
