@use "styles/_utils/screen.module";

.fullComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deskImage {
  display: none;
  @include screen.desktop {
    display: inline;
    width: 326px;
    height: 400px;
  }
}
.tabImage {
  display: none;
  @include screen.tablet {
    display: inline;
  }
}
.mobImage {
  display: none;
  @include screen.mobile {
    display: inline;
    width: 326px;
    height: 400px;
  }
}

.text {
  width: 327px;
  height: 157px;
  text-align: center;
  color: #242b37;
  margin: 0px auto 27px auto;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: -0.4px;
  letter-spacing: -0.4px;
}
.para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.eventChangerContainer {
  display: flex;
  @include screen.mobile {
    width: 180px;
    height: 116px;
    color: #4c4c4c;
    margin: 49px auto 27px auto;

    flex-direction: column;

    & > * {
      margin: 0px 0px;
      text-align: center;
      font-weight: 600;
      font-size: 17px;
      line-height: 28px;
      cursor: pointer;
      letter-spacing: 2.5px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 5px;
        bottom: 0;
        height: 1px;
        width: 93%; /* or 100px */
        border-bottom: 2px solid #4c4c4c;

        opacity: 0;
        transform: scaleX(0);
        transition: transform 450ms ease-in-out;
      }
      &:hover:after {
        opacity: 1;
        transform: scaleX(1);
      }
    }

    & > *:not(:first-child) {
      margin-top: 16px;
    }
  }
}

.button {
  width: fit-content;
  margin: auto;
}
