@use "styles/_utils/screen.module";

.mainContainer {
  display: grid;

  overflow: hidden;
  width: 100%;
  background-size: cover;

  @include screen.mobile {
    height: 328px;
    background-image: url("../../public//images/homepage/ready-bg-mobile@2x.jpg");
    margin-top: 124px;
  }
  @include screen.tablet {
    height: 272px;
    background-image: url("../../public//images/homepage/ready-bg-tablet@2x.jpg");
    margin-top: 120px;
  }
  @include screen.desktop {
    height: 160px;
    background-image: url("../../public//images/homepage/ready-bg-desktop@2x.jpg");
    margin-top: 160px;
    align-items: center;
  }
}

.subContainer {
  display: flex;

  @include screen.mobile {
    width: 327px;
    height: 164px;
    margin: 84px auto 80px auto;
  }
  @include screen.mobileAndTablet {
    flex-direction: column;
    align-items: center;
  }
  @include screen.tablet {
    width: 615px;
    height: 136px;
    margin: 72px auto 64px auto;
  }
  @include screen.desktop {
    height: fit-content;
    padding-inline: 165px;
    justify-content: space-between;
    align-items: center;
  }
}

.text {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0px;
  @include screen.mobile {
    font-size: 32px;
    line-height: 40px;
    /* or 125% */

    margin-bottom: 20px;
    letter-spacing: -0.4px;
  }
  @include screen.tablet {
    margin-bottom: 24px;
  }

  @include screen.tabletAndDesktop {
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */

    letter-spacing: -0.5px;
  }
  @include screen.desktop {
    margin-bottom: 0px;
  }
}
