@use "styles/_utils/screen.module";

.mainContainer {
  display: grid;
  margin-top: 124px;
  overflow: hidden;

  @include screen.mobile {
    width: 100%;
    height: 328px;
  }
  @include screen.tablet {
    width: 100%;
    height: 272px;
  }

  & > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen.mobile {
    width: 327px;
    height: 164px;
    margin: 84px auto 80px auto;
  }
  @include screen.tablet {
    width: 615px;
    height: 136px;
    margin: 72px auto 64px auto;
  }
}

.text {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  @include screen.mobile {
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: -0.4px;
  }
  @include screen.tablet {
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    margin-bottom: 24px;
    margin-top: 0px;
    letter-spacing: -0.5px;
  }
}
