//screen sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;

$smMin: $sm;
$smMax: $sm - 1px;
$mdMin: $md;
$mdMax: $md - 1px;
$lgMin: $lg;
$lgMax: $lg - 1px;

//export to Typescript
:export {
  smMax: $smMax;
  smMin: $smMin;
  mdMax: $mdMax;
  mdMin: $mdMin;
  lgMax: $lgMax;
  lgMin: $lgMin;
}

@mixin mobile {
  @media (max-width: $mdMax) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mdMin) and (max-width: $lgMax) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $lgMin) {
    @content;
  }
}
