//screen sizes

$MD: 475;
$LG: 1024;

$mdMin: $MD + px;
$mdMax: $MD - 1px;
$lgMin: $LG + px;
$lgMax: $LG - 1px;

//export to Typescript
:export {
  MD_SCREEN_W: $MD + w;
  LG_SCREEN_W: $LG + w;
}

@mixin mobile {
  @media (max-width: $mdMax) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mdMin) and (max-width: $lgMax) {
    @content;
  }
}
@mixin mobileAndTablet {
  @media (max-width: $lgMax) {
    @content;
  }
}

@mixin tabletAndDesktop {
  @media (min-width: $mdMin) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $lgMin) {
    @content;
  }
}
