@use "styles/_utils/screen.module.scss";

.mainContainer {
  @include screen.mobileAndTablet {
    display: none;
    & > * {
      display: none;
    }
  }
}

.lines {
  position: absolute;
  top: 765px;
  left: 47%;
}
