@use "styles/_utils/screen.module.scss";

.mainContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%, 0.5);

  display: grid;
  place-items: center;
}

.subContainer {
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  @include screen.mobile {
    width: 300px;
    height: 250px;

    font-style: normal;
    /* or 133% */

    text-align: center;
    letter-spacing: -0.6px;

    & > h2 {
      font-weight: 300;
      font-size: 30px;
      border-bottom: 1px solid black;
    }
  }

  @include screen.tabletAndDesktop {
    width: 500px;
    height: 300px;

    & > h2 {
      font-weight: 300;
      font-size: 40px;
      border-bottom: 1px solid black;
    }
  }
}

.checkIconBox {
  background-color: #00751b;
  border-radius: 999px;
  height: 55px;
  width: 55px;
  display: grid;
  place-items: center;
}

.checkIcon {
  transform: scale(2);
}
