@use "styles/_utils/screen.module.scss";

.mainContainer {
  background-color: white;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
  z-index: 2;
  @include screen.mobile {
    width: 327px;
    height: 585px;
    position: absolute;
    top: 463px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
  @include screen.tablet {
    left: 0;
    right: 0;
    margin: auto;
    top: 370px;
  }
  @include screen.tabletAndDesktop {
    width: 540px;
    height: 545px;
    position: absolute;
  }
  @include screen.desktop {
    left: 53%;
    top: 258px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  @include screen.mobile {
    margin: 20px 32px 32px 32px;
  }
  @include screen.tabletAndDesktop {
    margin: 34px 48px 48px 48px;
  }
  & > * > input {
    border: none;
    border-bottom: 1px solid #8e8e8e;
    width: 100%;
  }
}

.inText {
  margin-bottom: 0px;
  padding: 0px;
  padding-left: 16px;

  height: 43px;
  &:focus-within {
    outline: none;
  }
}
.inText::placeholder,
.inDate::placeholder,
.inDate,
.inText {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 14px;
  font-family: "League Spartan";
}

.inTextEmail {
  margin-top: 20px;

  @include screen.tabletAndDesktop {
    margin-bottom: 28px;
  }
}

.inDateContainer {
  @include screen.tabletAndDesktop {
    height: 79px;
    & > :nth-child(2) {
      margin-bottom: 32px;
    }
  }
}

.inDateAndText {
  @include screen.tabletAndDesktop {
    display: flex;
  }
}

.inDates {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.inDate {
  border: none;
  border-bottom: 1px solid #8e8e8e;
  width: 100%;

  @include screen.mobile {
    padding: 0px 15px 14px 15px;
  }

  @include screen.tabletAndDesktop {
    height: 43px;
    line-height: 0px;
    padding: 0px 15px 14px 15px;
  }
  &:focus-within {
    outline: none;
  }
}

.DateTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  @include screen.mobile {
    margin-bottom: 8px;
  }
  /* identical to box height, or 140% */

  @include screen.tabletAndDesktop {
    min-width: 90px;
    margin-top: 19px;
    margin-right: 48px;
  }
}

.dropDownTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  cursor: pointer;
  @include screen.tabletAndDesktop {
    padding-top: 15px;
  }
  & > span {
    margin-bottom: 0px;
    margin-right: 15px;
  }

  .dropDownList {
    position: absolute;
    display: grid;
    flex-direction: column;
    place-items: center;
    width: 106px;
    height: 103px;

    left: -20px;
    box-shadow: 0px 15px 25px rgba(56, 66, 85, 0.24623);
    background-color: white;
    cursor: pointer;
    @include screen.mobile {
      top: 43px;
    }
    @include screen.tabletAndDesktop {
      top: 58px;
    }
    & > p {
      margin: 0px;
    }
  }

  @mixin checked {
    position: relative;

    &::before {
      content: url("../../public/images/icons/icon-check.svg");
      position: absolute;
      left: -25px;
      @include screen.mobile {
        top: -2px;
      }
      @include screen.tabletAndDesktop {
        top: -7px;
      }
    }
  }
  .checked1 {
    & > :nth-child(1) {
      @include checked;
    }
  }

  .checked2 {
    & > :nth-child(2) {
      @include checked;
    }
  }

  .flipped {
    transform: scale(-1);
  }

  // border: none;
  // font-weight: 400;
  // font-size: 20px;
  // line-height: 28px;
  // /* identical to box height, or 140% */
  // height: 43px;
  // width: 60px;
  // color: #111111;
}

.numPeople {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8e8e8e;
  margin-top: 4px;
}

.numPeopleText {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: -0.25px;

  color: #151515;
  @include screen.mobile {
    margin-top: 36px;
  }
}

.button {
  outline: none;
  border: none;
  padding: 0px;
  width: 100%;
  margin: 32px auto;
  outline: 2px solid black;
  outline-offset: -2px;
}

.TAndEContainer {
  position: relative;
}

.error {
  color: #b54949;
  position: absolute;
  width: max-content;
  font-weight: 500;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: -0.125px;
}
.errorName {
  @include screen.tabletAndDesktop {
    top: 60px;
  }
}

.errorEmail {
  @include screen.tabletAndDesktop {
    top: 80px;
  }
}

.errorDateTime {
  @include screen.mobile {
    top: 80px;
  }
  @include screen.tabletAndDesktop {
    top: 37px;
  }
}

.inputError {
  & > input,
  h4 {
    border-color: #b54949 !important;
    color: #b54949;

    &::placeholder {
      color: #b54949;
      opacity: 50%;
    }
  }
}
