@use "styles/_utils/screen.module.scss";

.mainContainer {
  background-color: white;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
  @include screen.mobile {
    width: 327px;
    height: 585px;
    position: absolute;
    top: 463px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
  @include screen.tabletAndDesktop {
    width: 540px;
    height: 545px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  @include screen.mobile {
    margin: 34px 32px 32px 32px;
  }
  @include screen.tabletAndDesktop {
    margin: 50px 48px 48px 48px;
  }
  & > input {
    border: none;
    border-bottom: 1px solid #8e8e8e;
  }
}

.inText {
  margin-bottom: 0px;
  padding: 0px;
  padding-left: 16px;

  height: 43px;
}
.inText::placeholder,
.inDate::placeholder,
.inDate,
.inText {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.inTextEmail {
  margin-top: 34px;
}

.inDateContainer {
  height: 79px;
  margin-bottom: 32px;
}

.inDateAndText {
  @include screen.tabletAndDesktop {
    display: flex;
  }
}

.inDates {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.inDate {
  border: none;
  border-bottom: 1px solid #8e8e8e;
  width: 100%;
  height: 43px;
  line-height: 0px;
  padding: 0px;
  padding-bottom: 14px;
  padding-left: 15px;
  margin-bottom: 14px;
  margin-left: 15px;

  &:focus-within {
    outline: none;
  }
}

.inDateText {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 32px;
  margin-bottom: 0px;

  /* identical to box height, or 140% */

  color: #111111;
  @include screen.tabletAndDesktop {
    min-width: 90px;
  }
}

.dropDownTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  & > span {
    margin: 0px;
    margin-right: 15px;
  }

  .dropDownList {
    position: absolute;
    display: grid;
    flex-direction: column;
    place-items: center;
    width: 106px;
    height: 103px;
    top: 58px;
    left: -20px;
    box-shadow: 0px 15px 25px rgba(56, 66, 85, 0.24623);
    background-color: white;
  }

  // border: none;
  // font-weight: 400;
  // font-size: 20px;
  // line-height: 28px;
  // /* identical to box height, or 140% */
  // height: 43px;
  // width: 60px;
  // color: #111111;
}

.numPeople {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8e8e8e;
  margin-top: 4px;
}

.numPeopleText {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: -0.25px;

  color: #151515;
}

.button {
  margin: 32px;
}
