@use "styles/_utils/screen.module";

.container {
  background-color: black;
  color: white;
  justify-content: center;
  display: grid;
  height: 44rem;

  @media (min-width: screen.$mdMin) {
    justify-content: left;
    height: 32.8rem;
    padding-left: 3.9rem;
  }
  @media (min-width: screen.$lgMin) {
    height: 24rem;
    padding-left: 16.5rem;
  }

  div {
    margin-bottom: 4.6rem;
    @media (min-width: (screen.$mdMin)) and (max-width: (screen.$lgMax)) {
      padding-left: 3.9rem;
    }
  }
}

.main {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  text-align: center;

  @media (min-width: screen.$mdMin) {
    height: 8.6rem;
    padding-top: 6.4rem;
    text-align: left;
    flex-direction: row;
    align-items: flex-start;
  }
}

.textContainer {
  @media (min-width: screen.$mdMin) {
    margin-left: 13rem;
  }
  @media (min-width: screen.$lgMin) {
    display: flex;
  }
}

.text1 {
  @media (min-width: screen.$lgMin) {
    margin-left: 12.4rem;
  }
}
.text2 {
  @media (min-width: screen.$lgMin) {
    margin-left: 19.2rem;
  }
}
