@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");

:root {
  --beaver: #9e7f66;
  --codGray: #111111;
  --mirage: #17192b;
  --ebonyGray: #242b37;
  --shuttleGray: #5c6779;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

//breakpoint sizes
